@value mobile from '../breakpoints.module.css';

@media only screen and (mobile) {
  .sidenav {
    align-self: flex-start;
    min-width: 100% !important;
    width: 100% !important;
    height: 300px !important;
    text-align: center;
  }

  .sub_menu > .menu_title {
    padding-top: 10px;
  }

  .sub_menu > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav_item {
    font-size: 12px !important;
  }

  .sub_menu .circle {
    margin-left: 5px;
  }
}

.sidenav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 270px;
  width: 270px;
  flex-wrap: nowrap;
  background-color: #252529;
  color: #ffffff;
  font-family: 'Roboto-Medium', 'Roboto', sans-serif;
  z-index: 1000;
}

.sub_menu,
.title_container {
  padding: 0 10px;
}

.title_container {
  max-height: 85px;
  min-height: 85px;
  border-bottom: 1px solid rgba(204,204,204, 0.1);
}

.sub_menu ul {
  padding: 0;
  margin-top: 9px;
}

.title_icon {
  margin-right: 12px;
}

.main_title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  padding: 9px 16px;
}

.menu_title {
  color: #9ea0a5;
  font-size: 12px;
  text-transform: uppercase;
  padding: 30px 16px 0;
}

.nav_item {
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
}

.nav_item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  max-height: 40px;
  padding: 9px 16px;
}

.active li {
  background-color: #1665d8;
  border-radius: 5px;
}

.divider {
  border-top: 1px solid #252529;
  opacity: 0.1;
  margin: 0 14px;
}

.circle {
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  color: #3e3f42;
  line-height: 20px;
  text-align: center;
  background: #ffffff;
}
