.topbar {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  max-height: 85px;
  min-height: 85px;
  border-bottom: 1px solid rgba(204,204,204, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar_title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding-left: 300px;
}

.topbar_right {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lang_container {
  width: 100px;
  margin-right: 30px;
  border-left: 1px solid rgba(204,204,204, 0.6);
}

.lang_selector {
  margin: 0 30px;
}

