@value mobile from '../../breakpoints.module.css';

@media only screen and (mobile) {
  .search_container {
    border-left: 1px solid rgba(204,204,204, 0.6);
  }
}

.search_container {
  margin-right: 18px;
  padding-left: 30px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_container .icon_container {
  color: #9ea0a5;
  opacity: 0.6;
  padding-right: 0;
  position: relative;
  right: 30px;
  cursor: pointer;
}
